/* Write your CSS here */
.button {
  background-color: #382f5a;
  height: 30px;
  width: 80px;
  border-radius: 4px;
  border-color: #c4c4c4;
  border-width: 1px;
  border-style: solid;
  color: #d4d2db;
  cursor: pointer;
}
